<%- include('partials/head') %>
  <body>
    <h1>r/<%= name %></h1>
    <span>Subscribers: <%= subscribers %></span>
    <% for(let post of posts) { %>
    <p><%= post.title %> - <b><%= post.author %></b></p>
    <% if(post.img) { %>
        <img src="<%= post.img %>" alt="">
    <% } %>
    <% } %>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
