<% layout("./layouts/boilerplate") %>
    <form action="/properties/<%= property._id %>?_method=PUT" method="post" id="form" enctype="multipart/form-data">
        <div>
            <div class="flex justify-around my-20">
                <div class="border-b border-gray-900/10 pb-12 basis-4/5">
                    <h2 class="text-lg font-semibold leading-7 text-gray-900">Edit Property</h2>
                    <div class="mt-2 grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-6">
                        <div class="sm:col-span-4">
                            <label for="title" class="block text-sm font-medium leading-6 text-gray-900">Title</label>
                            <div class="mt-2">
                                <input type="text" name="property[title]" id="title" autocomplete="given-name"
                                    value="<%= property.title %>"
                                    class="string-input px-4 block w-full rounded-md  py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                <div class="error text-rose-500 text-sm"></div>
                            </div>
                        </div>

                        <div class="col-span-full">
                            <label for="description"
                                class="block text-sm font-medium leading-6 text-gray-900">Description</label>
                            <div class="mt-2">
                                <textarea id="description" name="property[description]" rows="3"
                                    class="string-input px-4 block w-full rounded-md  py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"><%= property.description %></textarea>
                                <div class="error text-rose-500 text-sm"></div>
                            </div>
                        </div>


                        <div class="sm:col-span-4">
                            <label for="address"
                                class="block text-sm font-medium leading-6 text-gray-900">Address</label>
                            <div class="mt-2">
                                <input id="string-input address" name="property[address]" type="text"
                                    autocomplete="email" value="<%= property.address %>"
                                    class="string-input px-4 block w-full rounded-md  py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                <div class="error text-rose-500 text-sm"></div>
                            </div>
                        </div>

                        <div class="sm:col-span-2">
                            <label for="city" class="block text-sm font-medium leading-6 text-gray-900">City</label>
                            <div class="mt-2">
                                <input id="city" name="property[city]" type="text" autocomplete="email"
                                    value="<%= property.city %>"
                                    class="string-input px-4 block w-full rounded-md  py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                <div class="error text-rose-500 text-sm"></div>
                            </div>
                        </div>

                        <div class="sm:col-span-1 sm:col-start-1">
                            <label for="price" class="block text-sm font-medium leading-6 text-gray-900">Price</label>
                            <div class="mt-2">
                                <input type="number" name="property[price]" id="price" autocomplete="address-level2"
                                    value="<%= property.price %>"
                                    class="p-integer px-4 block w-full rounded-md  py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                <div class="error text-rose-500 text-sm"></div>
                            </div>
                        </div>

                        <div class="sm:col-span-1">
                            <label for="size" class="block text-sm font-medium leading-6 text-gray-900">Size</label>
                            <div class="mt-2">
                                <input type="text" name="property[size]" id="size" autocomplete="address-level1"
                                    value="<%= property.size %>"
                                    class="p-integer px-4 block w-full rounded-md  py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                <div class="error text-rose-500 text-sm"></div>
                            </div>
                        </div>

                        <div class="sm:col-span-1">
                            <label for="bedroom" class="block text-sm font-medium leading-6 text-gray-900">Beds</label>
                            <div class="mt-2">
                                <input type="text" name="property[bedroom]" id="bedroom" autocomplete="bedroom"
                                    value="<%= property.bedroom %>"
                                    class="p-integer px-4 block w-full rounded-md  py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                <div class="error text-rose-500 text-sm"></div>
                            </div>
                        </div>

                        <div class="sm:col-span-1">
                            <label for="bathroom" class="block text-sm font-medium leading-6 text-gray-900">Bath</label>
                            <div class="mt-2">
                                <input type="text" name="property[bathroom]" id="bathroom" autocomplete="bedroom"
                                    value="<%= property.bathroom %>"
                                    class="p-integer px-4 block w-full rounded-md  py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                <div class="error text-rose-500 text-sm"></div>
                            </div>
                        </div>

                        <!-- <div class="sm:col-span-1">
                            <label for="latitude"
                                class="block text-sm font-medium leading-6 text-gray-900">Latitude</label>
                            <div class="mt-2">
                                <input type="text" name="property[latitude]" id="latitude" autocomplete="bedroom"
                                    value="<%= property.latitude %>"
                                    class="w-integer px-4 block w-full rounded-md  py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                <div class="error text-rose-500 text-sm"></div>
                            </div>
                        </div>

                        <div class="sm:col-span-1">
                            <label for="longitude"
                                class="block text-sm font-medium leading-6 text-gray-900">Longitude</label>
                            <div class="mt-2">
                                <input type="text" name="property[longitude]" id="longitude" autocomplete="bedroom"
                                    value="<%= property.longitude %>"
                                    class="w-integer px-4 block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                <div class="error text-rose-500 text-sm"></div>
                            </div>
                        </div> -->

                        <div class="col-span-full">
                            <label for="cover-photo" class="block text-sm font-medium leading-6 text-gray-900">Property
                                Image</label>
                            <div
                                class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
                                <div class="text-center">
                                    <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor"
                                        aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z"
                                            clip-rule="evenodd" />
                                    </svg>
                                    <div class="mt-4 flex text-sm leading-6 text-gray-600">
                                        <label for="image"
                                            class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                                            <span>Upload a file</span>
                                            <input id="image" name="image" type="file" class="sr-only" multiple>
                                        </label>
                                        <p class="pl-1">or drag and drop</p>
                                    </div>
                                    <p class="text-xs leading-5 text-gray-600">PNG, JPG, GIF up to 10MB</p>
                                </div>
                            </div>
                            <div class="flex justify-center">
                                <div id="file-cards" class="mt-4 grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-10 sm:col-span-1">
                        <h2 class="block text-sm font-medium leading-6 text-gray-900">Images to delete</h2>
                        <div class="flex flex-wrap gap-x-6 justify-center">
                            <% property.images.forEach((img, index)=> { %>
                                <div>
                                    <img src="<%= img.url %>" alt="" class="h-32 w-52 object-cover mt-4">
                                    <input type="checkbox" name="deleteImages[]" id="image-<%= index %>"
                                        value="<%= img.filename %>">
                                    <label for="image-<%= index %>"
                                        class="text-sm font-medium leading-6 text-gray-900">Delete</label>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                    <div class="mt-10 flex items-center justify-end gap-x-6">
                        <a href="/properties/<%= property._id %>" type="button"
                            class="text-sm font-semibold leading-6 text-gray-900">Cancel</a>
                        <button type="submit"
                            class="rounded-md bg-[#1d2d44] px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-[#1d1d44] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script src="/javascripts/imageUpload.js"></script>