<%- layout("layouts/boilerplate") %>
    <div class="flex flex-col h-full lg:flex-row">
        <div class="basis-3/5 details block lg:flex">
            <div class="lg:pr-24 flex flex-row justify-center gap-y-12 h-full">
                <div class="basis-11/12">
                    <%- include("../partials/flash") %>
                        <div id="carouselProperty" class="carousel slide z-1">
                            <div class="carousel-inner">
                                <% property.images.forEach((img, i)=> {%>
                                    <div class="carousel-item z-1 <%= i === 0 ? "active": "" %>">
                                        <img src="<%= img.url %>" class="d-block w-100" alt="...">
                                    </div>
                                    <% }) %>
                            </div>
                            <% if (property.images.length > 1) { %>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselProperty"
                                    data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselProperty"
                                    data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                                <% } %>
                        </div>
                        <%- include("../partials/propertyInfo") %>
                            <% if (user && property.author.equals(user._id)) {%>
                                <div class="flex gap-6 justify-end mt-10">
                                    <a href="/properties/<%= property._id %>/edit"
                                        class="text-white bg-[#1d2d44] py-1 px-2 rounded-md w-12 text-center">Edit</a>
                                    <form action="/properties/<%= property._id %>?_method=DELETE"
                                        class="inline bg-red-600 text-white py-1 px-2 rounded-md" method="post">
                                        <button class="">Delete</button>
                                    </form>
                                </div>
                                <% } %>
                </div>
                <!-- <div class="basis-1/5"></div> -->
            </div>
        </div>
        <div class="basis-2/5 bg-[#f0ebd8] rounded-sm lg:mt-0 py-4">
            <div class="flex flex-col px-6 gap-y-12 h-full">
                <%- include("../partials/propertyFeatures") %>
            </div>
        </div>
    </div>