<% properties.map(p=> { %>
    <div class="flex gap-x-6">
        <!-- <p class="text-4xl"></p> -->
        <div class="basis-2/5 h-48">
            <a to='/$item.id' class="basis-2/5 h-48">
                <img src="<%= p.img %>" alt="" class="w-full h-full object-cover rounded-md" />
            </a>
        </div>
            <div class="basis-3/5 flex flex-col justify-between gap-2">
                <h2
                    class="text-lg font-semibold text-[#253344] transition ease-linear duration-100 hover:text-[#0d1b2a] hover:scale-105">
                    <a to='/$item.id'>
                        <%= p.title %>
                    </a>
                </h2>
                <p class="flex items-center gap-1 text-[#778da9]">
                    <IoLocationOutline />
                    <span class="">
                        <%= p.title %>
                    </span>
                </p>
                <p class="text-lg font-light p-1 px-2 bg-[#ffe6a7] rounded-md w-max">
                    <span>$ <%= p.price %></span>
                </p>
                <div class="flex justify-between gap-4">
                    <div class="flex text-sm gap-10">
                        <div class="flex items-center gap-2 bg-[#F5F5F5] rounded-md p-1">
                            <FaBed />
                            <span>
                                <%= p.bedroom %> bedroom
                            </span>
                        </div>
                        <div class="flex items-center gap-2 bg-[#F5F5F5] rounded-md p-1">
                            <FaBath />
                            <span>
                                <%= p.bathroom %> bathroom
                            </span>
                        </div>
                    </div>
                    <div class="flex gap-4">
                        <div class="border p-2 rounded-md hover:bg-[#ddd]">
                            <IoBookmarkOutline />
                        </div>
                        <div class="border p-2 rounded-md hover:bg-[#ddd]">
                            <BsChatLeftText />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
    </div>